@model WebApplication1.Models.Jednostka

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Jednostka</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Wielkosc_Fizyczna.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wielkosc_Fizyczna.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skrot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skrot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Przelicznik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Przelicznik)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
